
  <%- include( '../templates/headInclude',{absPath:"pages/techs/live2DWithGLSL"}) %>
  <%- include("../templates/navBar",null) %>
  
<% shaders.forEach(function (value, key) { %>
  <%- include("../../public/GLSL/"+value) %>
<% }); %>

  <script src="https://unpkg.com/core-js-bundle@3.6.1/minified.js"></script>
  <!-- Live2DCubismCore script -->
  <script src = "../../source/Core/live2dcubismcore.js"></script>
  <!-- Build script -->
  <script src = "../../source/index_live2D.js"></script>
  <script id ="modelName" type="live2DmodelName"><%= model%></script>
  <body class="container-fluid " >
    <main class=" mx-2 "  data-aos="fade-in">
        <div >
          <div class="p-3 p-sm-5 my-4 rounded theme2 text-center">
            <h1>Live2D×GLSL</h1>
          </div>
        </div>
        
    </main>
      <br>
    <div class="container justify-content-center text-center"  data-aos="fade-in">

      <div class="container justify-content-center text-center">

        <canvas id="myCanvas"></canvas>
      </div></div>
    <div class ="container pad50"  data-aos="fade-in">
      <p></p>
      <p></p>
      <p>live2Dのパーツ単位で独自定義のシェーダを適用するサンプル</p>
    </div>
  </body>
  <%- include("../templates/footer",{right:"© 2021 Buti_PG"}) %>